<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197766678513-5mnivjuh2d0k1aap129m9or5ee1afekf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197766678513-5mnivjuh2d0k1aap129m9or5ee1afekf</string>
	<key>API_KEY</key>
	<string>AIzaSyAeQ_A9ay5svNwpyal3a5Q_U1C5wcGT4uY</string>
	<key>GCM_SENDER_ID</key>
	<string>197766678513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>min.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-ffe5c</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-ffe5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197766678513:ios:194efae736573c11de6650</string>
</dict>
</plist>